.container {
  display: flex;
  flex-direction: column;
  align-items: right;
  height: 100%;
  border: fuchsia 1px solid;
  padding: 60px 10%;
}


.container header {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  border: forestgreen 1px solid;
}

.container .searchSpace {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  border: 1px solid firebrick;
}